.text{
    margin: 10px;
    color: #f3f3f3;
    font-size: 20px;
}
.btn-close{
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}